name: E2E Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        next-version: ["14.0", "14.1", "14.2", "15.0", "15.1", "15.2", "15.3"]
        node-version: [20]
    steps:
      - uses: actions/checkout@v4

      - run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build library
        run: pnpm build

      - name: Update Next.js version in example
        run: pnpm add next@~${{ matrix.next-version }} --save-exact
        working-directory: example

      - name: Build example app
        run: pnpm build
        working-directory: example

      - name: Run example app
        run: pnpm start &
        working-directory: example

      - name: Install Playwright Browsers
        run: pnpm e2e:install

      - name: Wait for server ready
        run: curl --fail --retry 10 --retry-delay 1 --retry-all-errors --silent --output /dev/null --head http://localhost:3000

      - name: Run Playwright tests
        run: pnpm playwright test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-next-${{ matrix.next-version }}
          path: playwright-report/
          retention-days: 30
